@tailwind base;

.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 10px !important;
    background: #FAE1E2 !important;
}

.Toastify__toast--error::after {
    position: absolute;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    left: 265px;
    padding-top: 14px !important;
}

.Toastify__toast--error::before {
    position: relative;
    z-index: 100000;
    left: 12px;
    top: 6px;
}

.Toastify__toast--success {
    border: 1px solid #3A9EA5 !important;
    border-radius: 10px !important;
    background: #F0F9FA !important;
}

.Toastify__toast--success::before {

    position: relative;
    z-index: 100000;
    left: 12px;
    top: 6px;
}

.Toastify__toast--success::after {

    position: absolute;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    left: 265px;
    padding-top: 14px !important;
}

.Toastify__toast--warning {
    border: 1px solid #E78326 !important;
    border-radius: 10px !important;
    background: #FADFC5 !important;
}

.Toastify__toast-body {
    color: #444C63;
    font-size: 16px;
    padding-left: 20px;
    line-height: 20px;
    padding: 0px;
    padding-top: 25px;
    width: 100%;
    font-weight: 400;
    margin-left: 25px !important;
}

.Toastify__toast > button > svg {
    display: none;
}


.animation-slide-fade {
    animation: slide-fade 0.9s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}


html,
body {
    @apply min-h-full;

    /*Remove the blue flash when clicking on elements on mobile devices.*/
    -webkit-tap-highlight-color: transparent;
}

/* scrollbar */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
    @apply bg-gray-700 transition duration-100;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-500 transition duration-100;
}

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
    cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
    color: #555;
}

/* underline color for "Browse" button */
.filepond--label-action {
    text-decoration-color: #aaa;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
    background-color: #eee;
}

/* the border radius of the drop area */
.filepond--panel-root {
    border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
    border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
    background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
    background-color: #999;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
    background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
    color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
    color: white;
}

/* error state color */
[data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-panel {
    background-color: red;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
    background-color: green;
}

/* bordered drop area */
.filepond--panel-root {
    background-color: transparent;
    border: 2px solid #2c3340;
}

@tailwind components;
@tailwind utilities;
