<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24288336305-2l0mt6bhbbjts6bb3q43a0lha63m6geb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24288336305-2l0mt6bhbbjts6bb3q43a0lha63m6geb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24288336305-22vh5fsoro2v96f0r1r9c5i1cr6m6l00.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC51JAcNGDot0w3_3F3RQmbEEXkCl9eKOs</string>
	<key>GCM_SENDER_ID</key>
	<string>24288336305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.matejpesl1.companion</string>
	<key>PROJECT_ID</key>
	<string>companion-400217</string>
	<key>STORAGE_BUCKET</key>
	<string>companion-400217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24288336305:ios:b8d1ef558777bd25d80590</string>
	<key>WKAppBoundDomains</key>
    <array>
      <string>www.companion-red.vercel.app</string>
      <string>companion-red.vercel.app</string>
    </array>
</dict>
</plist>